@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-main-black overflow-x-hidden xl:overflow-auto sm:hidden xl:block font-poppins;
}

.bg-grey {
  background-color: #c1c5d0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 1126px;
  display: flex;
}

.rotate-seat {
  transform: rotate(-45deg);
}

.ticket-scrolling {
  height: 300px;
  overflow: auto;
  /* background-color: brown; */
}

.ticket-icon {
  width: 45px;
}

@media (max-width: 767.98px) {
  .rotate-seat {
    transform: none;
  }
}
